<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="format-detection" content="telephone=no">
<title><%= title %></title>
<meta name="description" content="<%= description %>">

<script src="<%= path %>/js/main.js" async></script>

<link rel="stylesheet" href="<%= path %>/css/style.css">
</head>


<body class="<%= bodyClass %>">

  <header class="header"></header>
